<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3>{{ contact.name }}</h3>

            <div class="list-group-item clearfix">
                <div class="pull-left">
                    <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive">
                </div>

                <div class="pull-right">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            Email: {{ contact.email }}<br>
            Phone: {{ contact.phone }}
        </div>
    </div>
</div>