/* You can add global styles to this file, and also import other style files */

body {
    padding: 0 0 75px 0;
}

.btn {
    --bs-btn-disabled-opacity: 0.5;
    --bs-btn-disabled-bg: #aaa;
    --bs-btn-disabled-border-color: #888;
}